.navbarbg{background:url(../img/navbar.png) no-repeat;padding-top: 70px;}.high190{height: 190px;} .navbarbg .mg0{margin: 15px 0px 8px;}
.container{width:1200px !important;padding-left:0;padding-right: 0;}.mg0{margin: 0;}.pd0{padding:0;}
body {
    padding-top: 70px;    font-family: "Microsoft Yahei",Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #808080;
    background-color: #fff;
}em{font-style: normal;}ul,li{margin:0;padding:0;list-style: none;}a:hover{text-decoration: none;}
.logo{background: url(../img/logo.png) no-repeat center;height:65px;}
.telPhn{background: url(../img/telphone.png) no-repeat center;height:65px;}
.searchBarBox{padding-top: 20px;}
.searchBarBox .form-control{border:2px solid #f39800;}
.searchBarBox .btn-default{background-color: #b3c374;}
.bgltGren{background-color: #b2c54b;color:white;}
.bgOrge{background-color: #dd8427;color:white;}
.navTopTitle{display: block;height:32px;font-size: 18px;line-height: 32px;}
.navTopLink a{height:32px;padding: 0px 15px !important;line-height: 32px !important;color:white;}
.nav>li>a:focus, .nav>li>a:hover{color:#333;}
.breadcrumb>li+li:before{content:'>';}
.breadsize{margin-bottom: 9px;background-color: white;}.icon_white{color:white;}.icon_white:hover{color:white;}
/*图片放大模块样式*/
.box{width:382px;height:382px;} 
.tb-pic a{display:table-cell;text-align:center;vertical-align:middle;} 
.tb-pic a img{vertical-align:middle;height:100%;} 
.tb-pic a{*display:block;*font-family:Arial;*line-height:1;} 
.tb-thumb{margin:30px 0 0;overflow:hidden;padding:0;} 
.tb-thumb li{background:none repeat scroll 0 0 transparent;float:left;height:79px;margin:0 10px 0 0;overflow:hidden;padding:1px;list-style-type: none;} 

.tb-s310 a{*font-size:271px; display: block;height:380px;} 
.tb-s40 a{*font-size:35px;} 
.tb-s40{width:77px;height:77px;} .tb-s40 a{height:75px;width:75px;} 
.tb-booth{border:1px solid #CDCDCD;position:relative;z-index:1;} 
.tb-booth:after{content: '';width:32px;height:28px;display: block;background: url(../img/search.png) no-repeat;position:absolute;right:0;bottom:0;}
.tb-thumb .tb-selected{background:none repeat scroll 0 0 #C30008;height:81px;padding:2px;} 
.tb-thumb .tb-selected div{background-color:#FFFFFF;border:medium none;} 
.tb-thumb li div{border:1px solid #CDCDCD;} 
div.zoomDiv{z-index:999;position:absolute;top:0px;left:0px;width:380px;height:380px;background:#ffffff;border:1px solid #CCCCCC;display:none;text-align:center;overflow:hidden;} 
div.zoomMask{position:absolute;background:url("../img/mask.png") repeat scroll 0 0 transparent;cursor:move;z-index:1;} 

#J_StrPrice{font-size: 14px; color: rgb(60, 60, 60); font-weight: 400; text-decoration: line-through;}
.tb-detail-hd{margin-top: -1px;}
.mui_addr_sup {
    border: 1px solid #d2d2d2;position: absolute;top:20px;left:0;display: none;
    background-color: #fff;
    font-size: 12px;    width: 352px;
    z-index: 2000;
}
.mui_addr_sup b {
    background: url(../img/close.png) no-repeat center;
    width: 8px;
    height: 8px;
    position: absolute;
    right: 5px;
    cursor: pointer;
    overflow: hidden;
    text-indent: -3em;
    top: 5px;
}
.mui_addr_sup .mui_addr_zxCity {
    padding: 3px 10px 2px;
}
.mui_addr_list {
    list-style: none;
    margin: 0;
    padding: 0 0 10px 10px;
}
.mui_addr_list li {
    float: left;
    cursor: pointer;
    width: 55px;
    margin: 12px 0 0;
    height: 16px;
    line-height: 16px;
}
.mui_addr_sup .mui_addr_Sup2box {
    margin-top: 7px;
    height: auto;
    margin-left: -10px;
    display: none;
    background-color: #fafafa;
    border: 1px solid #d2d2d2;
    border-width: 1px 0;
    width: 100%;
    padding: 0 5px 5px;
}
.mui_addr_list a {
    color: #999;
    padding: 0 5px;
    float: left;
    white-space: nowrap;
    text-decoration: none;
}.mui_addr_list a:hover, .mui_addr_list .mui_addr_selected {
    background-color: #a18c7c;
    color: #fff;
    text-decoration: none;
}
#J_AddrSelectTrigger{position: relative;cursor:pointer;}
#J_AddrSelectTrigger .glyphicon-triangle-bottom{font-size: 12px;padding-left: 10px;}
.tb-meta li {
    margin-bottom: 2px;
    line-height: 36px;
}
.tb-meta{background:url(../img/metabg.gif) no-repeat;padding: 10px;height:95px;width:400px;list-style: none;margin: 20px 0px;}
.tb-meta .tb-property-type {
    display: inline;
    float: left;
    width: 90px;font-size: 18px;margin-right: 10px;
    color: #6c6c6c;
}.tb-promo-price{color:#e60012;}
.tb-rmb-num {font-family: verdana,arial;font-style: normal;}
#J_PromoPriceNum{font-size: 26px;color:#e60012;}
.clear:after, .tb-clear:after, .tb-clearfix:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}
.hasSpPrice{position: relative;}
.hasSpPrice:after{content:'';position: absolute;top:4px;right: -100px;display: block;width:90px;height:22px;background:url(../img/goodTh.gif) no-repeat;}
.tb-prop {  padding-bottom: 6px;}.tm-img-prop dt { margin-top: 8px;}
.tb-metatit {
    text-align: left;
    float: left;    font-weight: normal;
   width: 90px;font-size: 18px;
    color: #6c6c6c;margin:6px 10px 0;
}
#J_EmStock{padding-left: 10px;vertical-align: bottom;}
.tb-amount dd {
    height: 35px;
    line-height: 31px;
    color: #878787;
}
.tb-prop dd {
    width: 420px;
    float: left;
}
.tb-prop li {
    float: left;
    position: relative;
    margin: 0 4px 4px 0;
    line-height: 28px;list-style: none;
    vertical-align: middle;
    padding: 1px;
}
.tb-prop li a{  width: 38px!important;
    height: 38px;
    padding: 0;
    line-height: 38px;
    background-repeat: no-repeat;
    outline: 0;
    background-position: center center;
	float: left;
    background-color: #fff;
    white-space: nowrap;
    min-width: 10px;
    text-align: center;
    border: 1px solid #b8b7bd;
    color: #000;
    text-decoration: none;
}
.tb-prop li a:hover {
    border: 2px solid #be0106;
}
.tb-amount-widget .mui-amount-input {
    vertical-align: middle;
}
.tb-text {
    color: #666;
    font-size: 12px;
    margin: 0;
    padding: 3px 2px 0 3px;
    height: 29px;
    border: 1px solid #a7a6ac;
    width: 36px;
    line-height: 26px;
    background-position: -406px -41px;
}
.tb-prop .tb-img li span {
    display: block;
    text-indent: -9999em;    padding-left: 1px;
}
.tb-amount-widget .mui-amount-btn {
    display: inline-block;
    vertical-align: middle;
}
.tb-amount-widget .mui-amount-increase {
    width: 16px;
    height: 12px;
    overflow: hidden;
    cursor: pointer;top:-1px;
    border: 1px solid #a7a6ab;
    display: block;
    line-height: 12px;
    font-size: 13px;
    margin-bottom: 3px;
}#content .tb-amount em {
    color: #878787;
    margin-left: 1.2em;
}
.tb-amount-widget .mui-amount-decrease {
    width: 16px;
    height: 12px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #a7a6ab;
    display: block;
    line-height: 12px;
    font-size: 13px;
}
.tb-amount-widget .mui-amount-unit {
    vertical-align: middle;
    margin-left: 5px;
}
.dotLine{border-bottom: 1px dotted #c9c9c9;margin:14px 0;}
.btn-lgtGreen{background-color: #b2c54b;border-color: #b2c54b;color:white;}
.btn-lgtGreen:hover {
    color: #fff;
    background-color: #9faf46;
    border-color: #9faf46;
}

/*店铺广告*/
#ald-skuRight{position: absolute;right:0;top:100px;background-color: white;border:1px solid #ccc;width:182px;height:250px;text-align: center;}.re{position: relative;}
#ald-skuRight img{margin:12px auto;width:165px;height: 165px;}#ald-skuRight a{color:white;line-height: 30px;font-size: 16px;}#ald-skuRight a:hover{text-decoration: none;opacity: .8;}
#ald-skuRight .gray1{background-color: #b5b5b6;color:white;border:1px solid #bcbcbd;height:30px;overflow: hidden;padding:0;}
#ald-skuRight .gray2{background-color: #898989;color:white;border:1px solid #bcbcbd;height:30px;overflow: hidden;padding:0;}

.grayLine{color:#ccc;height:2px;clear:both;margin:10px 0;}
.detail-meta{min-height: 500px;}.pdR10{padding-left: 0px; padding-right: 10px;}.pdL10{padding-right: 0; padding-left: 10px;}
/*销售量*/
.grayTitle{background-color: #898989;padding-left:10px;margin:0;height:35px;color: white;line-height: 35px;font-size: 14px;}
.discover-item {
    border-bottom: 1px dotted #EEE;
    padding: 17px 10px 17px 16px;
    margin-top: -1px;
    position: relative;
    z-index: 1;
    overflow: visible;
    height: 88px;
}
.discover-item img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 8px;
}
.discover-item .item-desc h4 {
    color: gray;
    width: 120px;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    overflow: hidden;
    margin-bottom: 1px;
    margin-top: 0px;
}
.discover-item .item-desc .item-comment {
    color: #e60012;
    line-height: 14px;
    height: 16px;
    overflow-y: hidden;
    position: relative;
}
.discover-item .item-desc .item-sell-count {
    color: gray;font-size: 12px;
}
.sortGood li{width:50%;text-align: center;}
.sortGood li a{color:gray;}
.easyBox{border:1px solid #ccc;margin-bottom: 35px;}

.discover-item2{border-bottom: 1px dotted #EEE;
    padding: 10px 7px;
    margin-top: -1px;}
.discover-item2 .imgBox{border:1px solid #ccc;width: 275px; height: 220px;}
.discover-item2 img {
    height:100%;    
}
.discover-item2 .item-desc h4 {
    color: gray;
    line-height: 16px;
    font-size: 14px;
    overflow: hidden;
    margin-bottom: 5px;
    margin-top: 5px;
}
.discover-item2 .item-desc .item-comment {
    color: #e60012;
    line-height: 14px;
    height: 16px;
    overflow-y: hidden;
    position: relative;
}
/*商品详情*/
.detailTab{border-top:1px solid #ccc;border-bottom: 1px solid #ccc;}
.detailTab li{width:100px;margin-right: -2px;}.detailTab a{color:gray;height:30px;line-height: 30px !important;padding:0 !important;text-align: center;border-right: 1px solid #ccc !important;}
.detailTab .active a{    height: 35px; margin-top: -5px;margin-left: -1px; border-top: 2px solid #f39800 !important;}

.arrowRight{display: inline-block;background: url(../img/arrowRight.gif) no-repeat center;width:20px;height:20px;    float: right;}
.seeMoreGoods{background-color: #efefef;color: #909090;font-size: 16px;margin:10px auto;padding:3px 10px 3px 3px;    display:block; width: 140px;text-align: center;}
.seeMoreGoods:hover{text-decoration: none;color:#444;}
/*返回顶部*/
#returnTop {
    display: none;
    width: 56px;
    height: 56px;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 10px;
    _position: absolute;
    _bottom: "auto";
    background: url(../img/returnTop.png);
    _background: url(../img/returnTop.gif);
}


/*登录*/
.dottedBrd{border:2px dotted #B5B5B6;border-radius: 5px;    text-align: center; font-size: 24px;}
.dottedBrd h3{text-align: center;line-height: 50px;}.bgltGray{background-color: #efefef;}.cover{font-size: 18px;color:#595757;height:130px;line-height: 130px;text-align: center;}
.trainIcon{background: url(../img/trainIcon.png) no-repeat left center;padding-left:40px;color:#C9CACA;font-size: 21px;display: inline-block;margin:0 auto; }
.tb95306{background: url(../img/tb95306.png) no-repeat center;display: inline-block;width:75px;height: 46px;text-indent: -9999px;}
.sixIcon{background:url(../img/sixIcon.png) no-repeat -1px center;display: inline-block;color:#de9142;width:43px;height:43px;font-size: 18px;line-height: 43px;font-weight: bold;margin-right: 10px;}
.mod{height:200px;text-align: center;padding-top: 20px;    margin-right: -1px;background-color: #f7f8f8;}
.mod-wrap{padding-left: 103px;border-right: 2px solid #c9caca;text-align: left;min-height: 150px;}
.mod_last .mod-wrap{border-right: none;}
.mod-wrap dt{font-size: 18px;color:gray;font-weight: normal;margin-bottom: 10px;}
.mod-wrap dd{position: relative;color:gray;font-size: 14px;}.mod-wrap dd:before{content:'-';position: absolute;left:-10px;top:0;display:block;}
.mod-wrap dd a{color:gray;line-height: 24px;}.mod-wrap dd a:hover{color:#333;}
.grassBtn{background-color: #b3c374;color:white;width:154px;height:49px;text-align: center;display: inline-block;line-height: 48px;font-size: 18px;}
.roseBtn{background-color: #f39800;color:white;width:154px;height:49px;text-align: center;display: inline-block;line-height: 48px;font-size: 18px;}
.roseBtn:hover,.grassBtn:hover{opacity: .8;color:white;}
.dottedButton{padding:17px 0;border-top: 1px dotted #B5B5B6;}.pl95{padding-left: 95px;padding-right: 10px;}.pr137{padding-right: 137px;padding-left: 10px;}
.spaceBox{margin-top: 20px;margin-bottom: 70px;}
.regInfo{background:url(../img/regInfo.png) no-repeat center 30px;height: 186px;}
.loginInfo{height:186px;text-align: left;padding-top: 38px;}
.loginInfo li,.registInfo li{list-style-type:disc;color:#e60012;margin-left: 50px;font-size: 18px; }
.loginInfo input,.registInfo input{width:210px;height:25px;color:gray;margin-left: 10px;border: 1px solid #c9caca;}.loginInfo label{color:gray;font-weight: normal;width:85px;border-right: 1px solid #c9caca;margin-bottom: 0;padding:3px 0;}
#forgetPass,.blackSmBtn{background-color: #9fa0a0;color:white !important;font-size: 12px;margin-left: 10px;padding: 3px;text-decoration: none !important;}#forgetPass:hover,.blackSmBtn:hover{opacity: .8;}
.hasWarn{position: relative;}
.hasWarn:after{content:' ';position: absolute;right:96px;top:0;background: url(../img/warnIcon.png) no-repeat;width:30px;height: 30px;display:block;}
.blog-footer {
    padding: 20px 0;height:90px;
    color: #fff;
    text-align: center;
    background-color: #036eb8;
}

/*会员中心*/
.lineBox h4{border-bottom: 3px solid #000;font-weight: bold;line-height: 30px;vertical-align: bottom;}
.lineBox h4 img{margin:-5px 5px 0 0;}
.yellow,h4.yellow{border-color: #F39800;color:#F39800;}
.green,h4.green{border-color: #B3C374;color:#B3C374;}
.trainDl dt{line-height: 51px;cursor: default;background-color: #efefef;height: 51px;font-size: 18px;color:#898989;font-weight: normal;}
.trainDl dt:before{content:'';background: url(../img/trainIcon.png) no-repeat center;width:35px;height:51px;display: inline-block;float:left;margin-right: 6px;}
.trainDl dt:after,.trainDl dd:after{content:'';clear:both;height: 0;display: block;}
.trainDl dd{line-height: 37px;}.trainDl dd a{color:#808080;text-decoration: none;}.trainDl dd a:hover{text-decoration: underline;color:#F39800;}
.trainDl dd:before{content:'';background: url(../img/dott.png) no-repeat center;width:35px;height:37px;display: inline-block;float:left;margin-right: 6px;}
.example_image{width:147px;border:1px solid #c9caca;height: 190px;}.headPoBox{margin:40px 45px 0 10px;}
.changePic{width:147px;height:37px;border-radius: 0;line-height: 1;}
.changePic .glyphicon-plus{font-size: 17px;margin-right: 5px;}
.userCenterIptInfo{border-left:1px solid #c9caca;height: auto; padding-top: 0;margin-top: 40px;margin-bottom: 30px;}
.needRedPoint li{list-style-type:none;    margin-left: 30px; }
.needRedPoint li.need{    list-style-type: disc;
    color: #e60012;
    margin-left: 30px;
    font-size: 18px;}
.needRedPoint label{border-right: none;}
.needRedPoint input{width:520px;}.needRedPoint .smRadio label{border-right:1px solid #c9caca;}
.needRedPoint select{font-size: 16px;color: gray; margin-left: 5px;}
.needRedPoint .smRadio{margin-left: 5px;}
.orgBtn{background-color: #e68421;color:white;border-radius: 10px;padding:5px;font-size: 18px;width: 60px;text-align: center;border: none;cursor: pointer;}
.dottedButton2{border-top: 2px dotted #B5B5B6;clear: both;padding-top: 45px;width: 835px;margin-left: 10px;}

/*注册*/
.registInfo{text-align: left;padding-top: 20px;padding-bottom: 30px;}.genTit{color:#8d955a; margin: 0;}.wd805{width:805px;margin-left: auto;margin-right: auto;margin-bottom: 40px;}
.genTit .tb95306{background: url(../img/tb95306_2.png) no-repeat center 12px;margin:0 4px;}
.registInfo label{color:gray;font-weight: normal;width:135px;border-right: 1px solid #c9caca;margin-bottom: 0;padding:8px 0;line-height: 25px;}.registInfo input{width:225px;margin-left: 30px;}
#hasReadprotocol{margin-bottom: 30px;}.mgBot70{margin-bottom: 70px;}
#hasReadprotocol a{color:#036eb8;}.regCenter{text-align: center;margin-bottom: 70px;}
.labMsg{font-size: 14px;color:#727171;margin-left: 10px;}
.smRadio{margin-left: 25px;}
.smRadio input,.smRadio label{width:25px;height: 22px;line-height: 20px;margin: 0;padding: 0;}
.male.active{background-color: #036eb8 !important;color:white !important;}.female.active{background-color: #f39800 !important;color:white !important;}
/*列表页*/
.navTopTitle .glyphicon-menu-down{float:right;margin-right: 20px;line-height: 32px;}
.toggleNav{display: none;border:1px solid #a8bb4d;position: absolute;background-color: white;width: 100%;left: 0;z-index: 111;}
.toggleNav a{font-size: 12px;color:#727272;}.toggleNav a:hover{text-decoration: underline;}
.toggleNav li h4:after{content: '|';color:#a8bc4d;float:right;}
.toggleNav li{border-bottom: 1px solid #a8bb4d;height: 46px;}
.toggleNav li h4{display: inline-block;width:125px;color:#426731;padding-left: 42px;line-height: 46px;margin-top: 0;font-size: 18px;}
.iconPhone{background: url(../img/navIcon1.png) no-repeat 3px;}
.iconCompu{background: url(../img/navIcon2.png) no-repeat 3px;}
.iconShuma{background: url(../img/navIcon3.png) no-repeat 3px;}
.iconJiaju{background: url(../img/navIcon4.png) no-repeat 3px;}
.iconJiayo{background: url(../img/navIcon5.png) no-repeat 3px;}
.iconBag{background: url(../img/navIcon6.png) no-repeat 3px;}
.iconMeiro{background: url(../img/navIcon7.png) no-repeat 3px;}
.iconCar{background: url(../img/navIcon8.png) no-repeat 3px;}
.iconToy{background: url(../img/navIcon9.png) no-repeat 3px;}
.iconCloth{background: url(../img/navIcon10.png) no-repeat 3px;}
.iconSport{background: url(../img/navIcon11.png) no-repeat 3px;}
.iconFood{background: url(../img/navIcon12.png) no-repeat 3px;}
.iconTrip{background: url(../img/navIcon13.png) no-repeat 3px;}
.iconZh{background: url(../img/navIcon14.png) no-repeat 3px;}
.dottedBorderRight li{border-right:1px dashed #eee;float:left;width:100px;text-align: center;height: 37px;line-height: 37px;margin: -8px 0;cursor: pointer;}.t-center{text-align: center;}
.dottedBorderRight li:hover{color:#337ab7;}
.discover-item3{position: relative;border:1px dashed #cacbcb;display: inline-block;width:20%;margin-left:-5px; text-align: center; overflow: hidden;cursor: pointer;margin-top: 15px;}
.discover-item3:hover{border:1px solid #b4b4b5;z-index: 10;}
.item-comment{color:red;font-size: 25px;height: 50px;}
.zhijiang:after{content:'直降';display: inline-block;padding: 3px;background-color: #8c945a;color:white;font-size: 16px;vertical-align: top;margin: 2px 0 0 4px;}
.dottSpan,.dottSpan2{display: inline-block;width:50%;border-top: 1px dashed #cacbcb;border-right:1px dashed #cacbcb;line-height: 48px;margin-right: -3px;color:gray;font-size: 18px;}
.dottSpan span{color:red;}.shopName{display: none;color:gray;font-size: 16px;line-height: 30px;text-decoration: underline;}
.redLink{background-color: red;color:white;border-radius: 10px;padding:2px 5px;font-size: 18px;width: 60px;text-align: center;border: none;cursor: pointer;}
.discover-item3 .orgBtn:hover,.redLink:hover{opacity: .6;color:white;}
.discover-item3 h4{color:gray;font-size: 16px;padding: 0 10px;height: 98px;overflow:hidden;}
.spMgList{margin: 6px 0 15px;}
.discover-item3 .imgBox{margin:7px 0;}
.discover-item3 .imgBox img{width:225px;height: 225px;}
.discover-item3 .orgBtn{padding: 2px 5px;}.discover-item3 .orgBtn:hover{opacity: .8;}
.row.mg0{overflow: hidden;}.overflowDefault{overflow: visible !important;}#navTopTitle{cursor: pointer;}
.discover-item4{border:1px solid transparent;width:50%;text-align: left;}
.discover-item4 .imgBox{float:left;margin:7px 17px 7px 7px;}
.discover-item4 .imgBox img {width: 185px;height: 185px;}
.discover-item4 h4{height:46px;padding-left: 0;font-size: 18px;line-height: 1.2; }
.discover-item4 .dottSpan{width:95px;border:1px dashed #cacbcb;margin-right: -5px;text-align: center;font-size: 16px;line-height: 40px;}
.discover-item4 .shopName{display: block;}.discover-item4 .shopName:hover{ color: #026eb7;text-decoration: underline;}
.discover-item4 .item-comment{padding-left: 210px;}
.discover-item4 .dottSpan2{border:none;width:auto;padding: 0 9px;text-align: center;}
.discover-item4 .orgBtn{border-radius: 0;}
.discover-item4 .redLink{padding:6px 20px;}

.searchTable{border:1px solid gray;margin-top: 15px;}
.searchTable a{margin-right: 10px;margin-left: 10px;font-size: 16px;}.searchTable a:hover{color:#da8125;}
.m-sortbar .sort-row {
    height: 41px;
}.m-sortbar .sort-row .sort-inner {
    height: 39px;
    background-color: #f5f5f5;
    border: solid 1px #e8e8e8;
}.m-sortbar .sorts {
    float: left;
    line-height: 39px;margin-left: 10px;margin-top: 6px;
}.m-sortbar .sorts .sort { float: left;margin-right: 7px;}
.m-sortbar .sorts .first {
    margin-left: 0;
    border-left: none;
}
.m-sortbar .sorts .link {
    float: left;
    display: block;
    height: 25px;line-height: 24px;
    margin-left: -1px;
    padding: 0 19px;
    border: solid 1px #b4b4b5;
    text-decoration: none;
    color: #6d6d6d;
}.m-sortbar .sorts .active,.m-sortbar .sorts .first, .m-sortbar .sorts .link:hover {
    position: relative;
    z-index: 1;
    background-color: #b4b4b5;
    border-color: #e5e5e5;
    color: #fff;
}.m-sortbar .prices {
    float: left;margin: -8px 0;
}.m-sortbar .prices .inputs {
    float: left;
    height: 39px;
    width: 200px;
}.m-sortbar .prices .inputs .inner {
    height: 39px;
}.m-sortbar .prices .inputs .items {
    padding: 8px 0 0 10px;
}.g-clearfix:after, .g-clearfix:before {
    content: "";
    display: table;
}.m-sortbar .prices .inputs .item {
    float: left;
    width: 55px;
}.m-sortbar .prices .inputs .sep {
    float: left;
    width: 10px;
    text-align: center;
}.m-sortbar .prices .inputs .input {
    width: 45px;
    padding: 0 4px;
    height: 21px;
    border: solid 1px #dfdfdf;
    line-height: normal;
    font-family: arial;
}.m-sortbar .prices .inputs .submit {
    float: left;
    _display: inline;
    margin-left: 10px;
    display: none;
    width: 44px;
}.m-sortbar .prices .inputs .btn {
    border: 0 none;
}
.m-sortbar .btn {
    display: block;
    height: 23px;
    padding: 0 10px;
    background: #9e9f9f;
    color: #fff;
    line-height: 23px;
    cursor: pointer;
    white-space: nowrap;
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box;
}.m-sortbar .prices .inputs-hover .submit, .m-sortbar .prices .inputs:hover .submit {
    display: block;
}
.m-sortbar .styles {
    float: right;
}
.m-sortbar .s_pager {
    float: right;
    line-height: 39px;
}
.m-sortbar .s_pager .item {
    float: left;
    height: 39px;
}
.m-sortbar .s_pager .link {
    float: left;
    display: block;
    padding: 0 15px;
    height: 39px;
}
.m-sortbar .styles .item {
    float: left;
    border-left: solid 1px #e5e5e5;
    border-right: solid 1px #e5e5e5;
    margin-left: -1px;
}
.m-sortbar .styles .active, .m-sortbar .styles .link:hover {
    background: #c8c9c9;
}
.m-sortbar .styles .link {
    float: left;text-align: center;
    width: 40px;font-size: 20px;line-height: 39px;
    height: 39px;
}
.search_more{position:absolute;top:0;right:0;height:100%;border-left: 1px solid #eee;display: inline-block;width: 20px;text-align: center;cursor: pointer;}
.search_more:hover{background-color: #9e9f9f;color:white;}.wd240{width:240px;font-size: 18px;}
#J_collapse{text-align: center;border-bottom: 1px solid #ddd;position: relative;height: 21px;margin-bottom: 35px;}
.collapseBtn{position: absolute;left:525px;display: inline-block;width:150px;border:1px solid #dddede;text-align: center;line-height: 38px;font-size: 18px;background-color: white;cursor: pointer;}
#J_collapse .glyphicon{background-color:#b4b4b5;border-radius: 50%;color:white;font-size: 12px;padding: 2px;}.J_sort{margin:0;}

.m-sortbar .location{float:right;height:39px;position:relative;color:#6d6d6d}
.m-sortbar .location .trigger{position:relative;width:89px;height:39px;cursor:pointer}
.m-sortbar .location .trigger .inner{position:absolute;height:39px;width:89px;text-align:center;line-height:39px}
.m-sortbar .location .trigger .text{display:inline-block}
.m-sortbar .location .trigger .icon{display:inline-block;width:7px;height:4px;vertical-align:middle;overflow:hidden}
.m-sortbar .location .sections{display:none;position:absolute;left:-1px;top:36px;width:352px;border:solid 1px #ccc;background:#fff;-webkit-box-shadow:0 3px 3px rgba(0,0,0,.1);-moz-box-shadow:0 3px 3px rgba(0,0,0,.1);box-shadow:0 3px 3px rgba(0,0,0,.1)}
.m-sortbar .location .hr-line{margin:0 18px;border-top:dashed 1px #e0e0e0;height:0;overflow:hidden}
.m-sortbar .location .clear,.m-sortbar .location .misc{margin:8px 17px 0}
.m-sortbar .location .guess,.m-sortbar .location .offen{float:left;color:#6d6d6d}
.m-sortbar .location .guess .user-loc,.m-sortbar .location .offen .user-loc{color:#3d3d3d;font-weight:700}
.m-sortbar .location .guess .user-loc:hover,.m-sortbar .location .offen .user-loc:hover{color:#f40;text-decoration:underline}
.m-sortbar .location .guess{width:105px}
.m-sortbar .location .offen .user-loc{margin-right:5px}
.m-sortbar .location .last{border-bottom:none}
.m-sortbar .location .items{margin:8px 8px;*padding-bottom:8px;*margin-bottom:0}
.m-sortbar .location .item{float:left}
.m-sortbar .location .link{float:left;padding:0 9px;cursor:pointer;line-height:24px;color:#6d6d6d}
.m-sortbar .location .link:hover{color:#f40}
.m-sortbar .location .active{height:24px;line-height:24px;display:block;height:23px;padding:0 10px;background:#f40;color:#fff;line-height:23px;cursor:pointer;white-space:nowrap;-webkit-border-radius:2px;-webkit-background-clip:padding-box;-moz-border-radius:2px;-moz-background-clip:padding;border-radius:2px;background-clip:padding-box;padding:0 9px}
.m-sortbar .location .active:hover{color:#fff;background:#f82800}
.m-sortbar .location .align-left{margin-right:12px}
.m-sortbar .location .clear .items{margin-left:15px}
.m-sortbar .location .clear .btn{color:#fff}
.m-sortbar .location .clear .btn:hover{text-decoration:none}
.m-sortbar .location-hover{*z-index:1}
.m-sortbar .location-hover .trigger{z-index:1001;background:#fff}
.m-sortbar .location-hover .trigger .inner{top:-1px;left:-1px;height:39px;line-height:39px;border:solid 1px #ccc;border-bottom-color:#fff;z-index:1}
.m-sortbar .location-hover .sections{display:block;z-index:1000}
/*商品*/
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev,.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{border-radius: 50%;background-color: #333;opacity: .5;width: 70px;height: 70px;line-height: 70px;margin-top: -35px;}
.carousel-control .glyphicon-chevron-left:before{content: "\e257";font-size: 46px;}.carousel-control .glyphicon-chevron-right:before{content: "\e258";font-size: 46px;}
.carousel-indicators{right: 0;text-align: right;    width: 77%;}
/* Carousel base class */
.carousel {
  height: 400px;
  margin-bottom: 60px;
}
.carousel-control.right,.carousel-control.left{background: none;}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}
.lineBox2{background-color: #efefef;}.lineBox2 .trainDl{height: 40px;}.lineBox2 .trainDl dt{background-color: #a0a0a0;color:white;padding-left: 5px;}
.lineBox2 .trainDl dt:before{background-image: url(../img/trainIcon_bw.png);}
.lineBox2 .trainDl dd{border-bottom: 1px solid #bbb;}
.lineBox2 .trainDl dd:hover{background-color: #9fa0a0;color:white;}.lineBox2 .trainDl dd:hover a{color:white;}
.lineBox2 .trainDl dd:hover:before{background-image: url(../img/dottWhite.png);}
.shopAd{width:210;height: 210px;margin-top: 6px;margin-bottom: 6px;}
.w210{width:210px;padding:0;}
.w975{width:975px;padding:0;margin-left: 15px;}
.enterShop{display: inline-block;width:105px;height:105px;background: url(../img/enterShop.png) no-repeat center 10px #dcdddd;padding-top: 80px;text-align: center;color: #5b5b5b;font-size: 16px;}
.starShop{border: 1px solid white;display: inline-block;width:105px;height:105px;background: url(../img/starShop.png) no-repeat center 10px #dcdddd;padding-top: 80px;text-align: center;color: #5b5b5b;font-size: 16px;}
.enterShop:hover{background-position:center -81px;color:gray;}.starShop:hover{background-position:center -85px;color:gray;}
.shopLogo img{width:200px;height: 60px;border:1px solid #ccc;margin:10px auto;display: block;}
.shopDl dt{background-color: #898989;color:white;font-size: 16px;padding-left: 5px;font-weight: normal;}
.shopDl{background-color: white;margin: 0 6px 20px;}
.shopDl dd{border-bottom: 1px dashed #eee;display: table;padding-left: 3px;width:100%;line-height: 1.5;}
.dltd{display: table-cell;}.w70{width:70px;}
.star {
    display: inline-block;
    width: 100px;
    height: 20px;
    line-height: 1;float: right;margin-right: 3px;
}
.star span {
    background: #ff8201;
    height: 20px;
    display: block;
}
.telme{display: inline-block;background: url(../img/telme.png) no-repeat;width:66px;height: 15px;}.telme:hover{opacity: .8;}
.hasTrainPic{text-align: center;margin: 20px 0;}
.hasTrainPic .pagination{margin: 0 0 -11px;position: relative;}.hasTrainPic .pagination:before{content: '';display: block;position: absolute;top: -17px;left: 0;width:100%;height:17px;background: url(../img/pagTrain.png) no-repeat;}
.pagInfo{display: inline-block;margin-left: 10px;color:#036db7;}
.pagInfo input{width:50px;text-align: center;margin:0 5px;color:#808080;}
.hasTrainPic .pagination>.active>a,.hasTrainPic .pagination>.active>a:focus,.hasTrainPic .pagination>.active>a:hover, .hasTrainPic .pagination>.active>span, .hasTrainPic .pagination>.active>span:focus, .hasTrainPic .pagination>.active>span:hover {
    color: #F39800;background-color: #fff;border-color:  #ddd;}

/*我的订单*/
.tbW128{width:128px;}.tbW227{width:227px;}
.tbW113{width:113px;}.tbW124{width:124px;}
.tbW168{width:168px;}
.bdbottom{border-bottom:1px solid #C8C9C9;}
.bdleft{border-left:1px solid #C8C9C9;}

.srhArea{width:876px; height:34px; margin:35px 15px 37px;}
.srhArea .btn-group{float: left; width:97px; height:33px; font-size: 14px; color: #888888;}
.srhArea .btn-group .btn{padding:6px; width:77px;}
.srhArea .btn-default{color:#888888;}
.srhArea .btn-group .dropdown-toggle{width:20px;}
.srhArea .dropdown-menu{min-width:97px; padding:0;}
.srhArea .dropdown-menu li{height:34px; padding:5px 0;}
.srhArea .dropdown-menu>li>a{padding:0; color:#888; text-indent:10px; line-height:24px;}
.srhArea .input-group{float:right; width:759px; height:34px; line-height:34px; }
.srhArea .input-group span{padding:6px 8px;}
.srhArea input::input-placeholder{color:#888888; }

.tbhead{width:876px; height:32px; line-height:32px; background:#EEEEEE; color:#888888; font-size:14px;}
.tbhead li{float:left; text-align:center;}

.tbhead li.tbW227{text-align:left; text-indent:55px;}
.tbhead li i{display:inline-block; width:11px; height:9px; background:url(../img/arrowdown.png) no-repeat; vertical-align:middle;}

.orderTable{width:876px; margin:15px 0 35px;border-collapse: collapse;}
.orderTable thead th{height:32px; line-height: 32px; background:#EEEEEE; color:#888888; font-size:14px; font-weight: normal;}
.orderTable thead th.tbW128{text-align:left; text-indent:25px;}
.orderTable thead th.tbW227,.orderTable thead td.tbW227{text-align:left; text-indent:55px;}
.vTop{vertical-align: top;padding-top: 10px;text-align: center;}
.tbcell{display: table-cell;}.ordGood{border-bottom: 1px solid #C8C9C9;margin-bottom:-1px;height: 112px;overflow: hidden;}
.orderTable tbody td{color:#888888; font-size:14px; line-height: 1.2;border:1px solid #C8C9C9;}
.orderTable tbody td img{width:86px; height:86px; border:1px solid #D1D1D1; background: #fff; margin:12px 18px;}
.goodsName,.goodsNum{display:inline-block;}
.goodsName{width:190px; vertical-align:middle; margin-right:10px;    padding: 5px 0;height:101px;overflow: hidden;}
.goodsNum{width:27px; vertical-align:middle;}.goodsNum:before{content: 'X'}
.plink{margin:10px 0;text-decoration:underline;color:#026DB8;cursor: pointer; }.gray{color:gray;}.red{color:red;}
.ordertime-cont {
    position: relative;
    float: left;
    z-index: 10;
    width: 138px;
    cursor: pointer;
}
.ordertime-cont .time-txt {
    position: relative;
    height: 30px;
    line-height: 30px;
    text-align: left;
    border: 1px solid #f5f5f5;
}
.ordertime-cont .time-list {
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 2;
    display: none;
    width: 136px;
    background: #fff;
    border: 1px solid #f5f5f5;
    border-top: 0;
}
.ordertime-cont .time-list li {
    height: 30px;
    line-height: 30px;
    text-align: left;float:none;
}
.ordertime-cont .time-list li a.curr {
    color: #e4393c;
}
.ordertime-cont .time-list li a {
    display: block;
    position: relative;
    color: #666;
    height: 30px;
    line-height: 30px;
}
.ordertime-cont .time-list li a:hover {
    background: #f5f5f5;
    color: #e4393c;
}
.ordertime-cont:hover .time-list{display: block;}

.waitTimePay .glyphicon-time{display: block;text-align: center;font-size:26px;}
.waitPayIcon{background: url(../img/ban_act.png) no-repeat;display: inline-block;width:27px;height:25px;float:left; }
.logisticsIcon{background: url(../img/logistics.png) no-repeat;display: inline-block;width: 27px;height: 25px;float:left;}
.orderDteailIcon{background: url(../img/ban.png) no-repeat;display: inline-block;width:27px;height:25px;float:left; }
.w100{width: 100px;text-align: left;margin:0 5px 5px;line-height: 25px;}
.orange{color:#F39800;}
.blue{color:#026DB8;}



/*订单明细*/
.h_step{width:250px; height:24px; border: 1px solid #EEE; margin-bottom:10px;}
.h_step p{width:150px; display: inline-block; margin:0; line-height: 24px; text-indent:5px;}
.h_step p.status{border-left:1px solid #eee; text-indent:10px; width:90px;}
.stepList{ height:190px; padding:20px;position: relative;}
.stepList li{float: left; width:80px; margin-right:80px; text-align: center; position:relative;}
.stepList i{display: inline-block;}.stepList p{margin-top: 30px;color:#b3c374;}
.stepImg1,.stepImg2,.stepImg3,.stepImg4,.stepImg5{width:95px; height:80px; background:url(../img/orderDetailBar.png) no-repeat 0 0;position: relative;}
.stepImg1:after{content:'';position: absolute;bottom:-24px;left:25px;display: block;width:26px;height: 25px;background: url(../img/dotted.png) 0 0;}
.stepImg2:after,.stepImg3:after,.stepImg4:after,.stepImg5:after{content:'';position: absolute;bottom:-24px;left:30px;display: block;width:26px;height: 25px;background: url(../img/dotted.png) no-repeat 0 -25px;}
.stepImg1.StepActive:after,.stepImg2.StepActive:after,.stepImg3.StepActive:after,.stepImg4.StepActive:after,.stepImg5.StepActive:after{background-position: 3px 0;}
.stepImg2:before,.stepImg3:before,.stepImg4:before,.stepImg5:before{content:'';position: absolute;bottom:-12px;right:45px;display: block;width:160px;height: 0;border-bottom: 1px dashed #c9caca;}
.stepImg2.StepActive:before,.stepImg3.StepActive:before,.stepImg4.StepActive:before,.stepImg5.StepActive:before{border-bottom: 1px solid #b3c374;}
.stepImg2{background-position: -95px 0;}
.stepImg3{background-position: -190px 0;}
.stepImg4{background-position: -285px 0;}
.stepImg5{background-position: -380px 0;}
.stepImg2.StepActive{background-position: -95px -80px;}
.stepImg3.StepActive{background-position: -190px -80px;}
.stepImg4.StepActive{background-position: -285px -80px;}
.stepImg5.StepActive{background-position: -380px -80px;}
.stepDot{position: absolute; width:21px; height:21px; bottom:-15px; left:50%; margin-left:-11.5px; background:url(../img/dott.png) no-repeat;}
.stepDot.active{background:pink url(../img/dottWhite.png) no-repeat;}



.info{margin-bottom:27px; text-indent:5px;}
.h_info{height:26px; line-height:26px; background:#EEEEEE; margin:0;}
.t_info{border-bottom:1px dashed #EEEEEE;}
.t_info,.d_info{padding:3px 0;}
.t_info p,.d_info p{line-height:24px; margin:0;}

.tbhead{text-indent: 15px;}
.mgl15{margin-left:15px; width:876px;}
.orderDetail tbody{border:0;}
.orderDetail th,.orderDetail td{padding:5px 15px; border:1px solid #B4B4B5;}
.orderDetail tbody td img{margin:10px 0;}
.orderDetail td p{margin:0;}
.orderDetail a{line-height:20px; vertical-align: middle;margin:10px 0;}
i.grey{display: inline-block; width:16px; height:20px; background:url(../img/dott.png) no-repeat left center; vertical-align: middle; background-size:12px 12px;}
.orderDetail .buyAgain {display: inline-block; width:80px;border-radius: 3px; line-height:24px; background:red; color:#fff;font-size:14px; text-align: center;}
.codebarBtn{margin-top: -20px;}

.tbfooter{width:290px;margin:27px 0 80px 580px; text-indent:50px;}
.tbfooter p{margin:0; line-height:24px;}
.totalRecharge{border-top:1px solid #eee; line-height: 40px; padding-top:10px; }
.totalRecharge span{font-size:36px; color:red; font-family:Arial;}
.befmnyIcon:before{content:'￥';}